.layout {
  height: 100vh;

  div.user {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .menu {
    width: 100%;
  }

  div.content {
    height: 100%;

    overflow: auto;
    overflow-x: hidden;
    padding-right: 0.25em;
    padding-left: 0.25em;
  }
}
